<div class="flex h-screen" style="max-width:1400px ; margin: 20px auto;">

  <app-sidebar></app-sidebar>

  <!-- Shipping Component -->
  <div class="flex max-w-7xl mt-8">
    <div class="w-3/4 p-4">
      <p class="text-gray-600 mb-4">The following addresses will be used on the checkout page by default.</p>

      <div class="grid grid-cols-2 gap-8">
        <div>
          <h3 class="text-lg font-semibold">SHIPPING ADDRESS</h3>
          <ng-container *ngIf="hasShippingAddress(); else noAddress">
            <a routerLink="/shippingAddress" class="text-black-500 text-sm">Edit Address</a>
            <p class="text-gray-600 mt-2">{{ getShippingAddress() }}</p>
          </ng-container>
          <ng-template #noAddress>
            <a routerLink="/shippingAddress" class="text-black-500 text-sm">Add Shipping address</a>
            <p class="text-gray-600 mt-2">You have not set up this type of address yet.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
