<footer>
  <div class="container mx-auto px-4" style="padding: 20px;">
    <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
      <div>
          <img src="https://localhost:7082/images/Laptopshop_logo_web.png" alt="">
        <p class="description">A proud member of the Laptop Shop family, offering quality new and refurbished PCs since 2013.</p>
      </div>
      <div>
        <p class="colHead">ABOUT US</p>
        <p class="innerText">Branches</p>
        <p class="innerText">Contact Us</p>
      </div>
      <div>
        <p class="colHead">ACCOUNT INFO</p>
        <a href="" class="block mt-2 text-gray-600">Your Account</a>
        <a href="" class="innerText">Your Orders</a>
        <a href="" class="innerText">Your Wishlist</a>
        <a href="" class="innerText">Your Addresses</a>
      </div>
      <div>
        <a href="" > <p class="colHead"> Policies & FAQ</p></a>
        <a href="" class="innerText">Shipping Policy</a>
        <a href="" class="innerText">Return Policy</a>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-4">
  <div class="break"> </div>
  <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="leftText text-center md:text-left">
        <p class="text-gray-600">Awfarlak.com <span class="font-bold">&#169;</span></p>
      </div>
      <div class="text-center md:text-right mt-4 md:mt-0">
        <p class="text-gray-500">2022 All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
