<div class="category-1 flex justify-around">
  @for (item of products; track $index) {
    <div class="wd-carousel-item wd-slide-visible wd-full-visible wd-slide-next" style="width: 233.333px;">
      <div
        class="wd-product wd-with-labels wd-hover-icons product-grid-item product type-product post-19950 status-publish instock product_cat-standard-laptops product_tag-used-laptop has-post-thumbnail shipping-taxable purchasable product-type-simple"
        data-loop="2" data-id="19950">

        <div class="product-wrapper">
          <div class="product-element-top wd-quick-shop">
            <a routerLink="productv2" class="product-image-link">
              <div class="product-labels labels-rounded"><span
                  class="attribute-label product-label label-term-used-grade-a label-attribute-pa_condition">Used: Grade
                  A</span>
                </div>
                <img loading="lazy" decoding="async" width="300" height="300"[src]="item.pictureUrl" class="attachment-medium size-medium wd-lazy-load wd-lazy-none wd-loaded" alt="" data-recalc-dims="1">
              <div class="berocket_better_labels berocket_better_labels_image">
                <div class="berocket_better_labels_position berocket_better_labels_position_right">
                  <div class="berocket_better_labels_line berocket_better_labels_line_1">
                    <div class="berocket_better_labels_inline berocket_better_labels_inline_1">
                      <div
                        class="br_alabel br_alabel_type_custom br_alabel_template_type_css berocket_alabel_id_21759 br_alabel_better_compatibility br_alabel_msc"
                        style="display: flex; flex-wrap: wrap; place-content: center; width: 74px; height: 114px;"
                        data-mobilescale="0.8"><span style=""><i style="background-color: #f16543; border-color: #f16543;"
                            class="template-span-before "></i><i style="background-color: #f16543; border-color: #f16543;"
                            class="template-i "></i><i style="background-color: #f16543; border-color: #f16543;"
                            class="template-i-before "></i><i style="background-color: #f16543; border-color: #f16543;"
                            class="template-i-after "></i><b style="text-align: center;z-index: 100;"
                            class="br-labels-css br-labels-css-22"><span class="b_span_text">Special Offer</span></b></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>

            <div class="hover-img">
              <a routerLink="productv2" aria-label="Product image"></a>
            </div>

            <div class="wrapp-buttons">
              <div class="wd-buttons">
                <div class="wd-add-btn wd-action-btn wd-style-icon wd-add-cart-icon wd-tooltip-inited"
                  data-original-title="" title=""><a href="?add-to-cart=19950"
                    aria-describedby="woocommerce_loop_add_to_cart_link_describedby_19950" data-quantity="1"
                    class="button product_type_simple add_to_cart_button ajax_add_to_cart add-to-cart-loop"
                    data-product_id="19950" data-product_sku="222260N"
                    aria-label="إضافة إلى عربة التسوق: &quot;Dell Inspiron 3501 Laptop 15.6&quot; HD, Intel Core i3-1005G1, Intel Iris Plus G1, 4GB RAM, 128GB (Used: Grade A)&quot;"
                    rel="nofollow"><span>إضافة إلى السلة</span></a><span
                    id="woocommerce_loop_add_to_cart_link_describedby_19950" class="screen-reader-text">
                  </span>
                </div>
                <div class="quick-view wd-action-btn wd-style-icon wd-quick-view-icon">
                  <a routerLink="productv2" class="open-quick-view quick-view-button wd-tooltip-inited" rel="nofollow"
                    data-id="19950" data-original-title="" title="">Quick view</a>
                </div>
                <div class="wd-compare-btn product-compare-button wd-action-btn wd-style-icon wd-compare-icon">
                  <a routerLink="productv2" data-id="19950" rel="nofollow" data-added-text="Compare products"
                    data-original-title="" title="" class="wd-tooltip-inited">
                    <span>Compare</span>
                  </a>
                </div>
                <div class="wd-wishlist-btn wd-action-btn wd-style-icon wd-wishlist-icon">
                  <a class="wd-tooltip-inited" href="product" data-key="6fb3dd4df8" data-product-id="19950" rel="nofollow"
                    data-added-text="Browse Wishlist" data-original-title="" title="">
                    <span>Add to wishlist</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="product-element-bottom">
            <h3 class="wd-entities-title"><a href="product">Dell Inspiron 3501 Laptop 15.6″ HD,
                Intel Core i3-1005G1, Intel Iris Plus G1, 4GB RAM, 128GB (Used: Grade A)</a></h3>
            <span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>14,000&nbsp;<span
                      class="woocommerce-Price-currencySymbol">EGP</span></bdi></span></del> <span
                class="screen-reader-text">السعر الأصلي هو: 14,000&nbsp;EGP.</span><ins aria-hidden="true"><span
                  class="woocommerce-Price-amount amount"><bdi>13,500&nbsp;<span
                      class="woocommerce-Price-currencySymbol">EGP</span></bdi></span></ins><span
                class="screen-reader-text">السعر الحالي هو: 13,500&nbsp;EGP.</span></span>



          </div>
        </div>
      </div>

    </div>
  }
</div>
