<div class="flex" style="max-width:1400px ; margin: 20px auto;">
  <!-- Main Content -->
  @if(compareList.length == 0){
  <div class="flex-1 p-8 bg-white">
    <div class="center-content">
      <svg width="400" height="400" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <g id="Media / Shuffle">
            <path id="Vector"
              d="M18 20L21 17M21 17L18 14M21 17H17C14.2386 17 12 14.7614 12 12C12 9.23858 9.76142 7 7 7H3M18 4L21 7M21 7L18 10M21 7L17 7C15.8744 7 14.8357 7.37194 14 7.99963M3 17H7C8.12561 17 9.16434 16.6277 10 16"
              stroke="#a3a3a3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </g>
      </svg>
      <h1 class="text-2xl font-bold text-black">Compare list is empty.</h1>

      <h1>No products added in the compare list. You must add some products to <br>compare them. You will find a lot of
        interesting products on our "Shop" <br>page.</h1>
      <a href="">
        <button class="ReturnToShop">Return to shop</button>
      </a>
    </div>




  </div>
  }
  @else {
  <div class="flex m-0">

    @for (product of compareList; track $index){


    <section class="w-1/4 product-page">
      <div class="flex justify-center product-containr">
        <!-- Image Section -->
        <img class="w-[90%]" [src]="product.pictureUrl" alt="Main Product Image">

        <!-- Product Details Section -->
        <div class="product-item">
          <!-- <span>@product.name</span> -->
          <button title="remove" class="remove-product" (click)="this.removeCompareListProduct(product.id)">
            <i class=" fas fa-times"></i>
          </button>
        </div>
      </div>
      <p style="text-align: center; font-size: 16px;">Specs</p>
      <!-- Specs Section -->
      <div class="specs">
        <ul class="p-4 specs-list">
          <li><span>Condition</span><span>Used: Grade B</span></li>
          <li><span>Brand</span><span>{{product.productBrandName}}</span></li>
          <li><span>Model</span><span>{{product.name}}</span></li>
          <li><span>CPU</span><span>{{product.cpu}}</span></li>
          <li><span>GPU</span><span>{{product.gpu}}</span></li>
          <li><span>Total RAM</span><span>{{product.ram}}</span></li>
          <li><span>Total Storage</span><span>{{product.storage}}</span></li>
          <li><span>Screen Size</span><span>{{product.screen}}"</span></li>
          <li><span>Keyboard</span><span>{{product.keyboard}}</span></li>
          <li><span>Warranty</span><span>{{product.warranty}}</span></li>
          <li><span>Quantity In Stock</span><span>{{product.quantity}}</span></li>
        </ul>
      </div>

    </section>


    }
  </div>

  }
</div>
