

<div class="container">
  <aside class="sidebar">
      <!-- Sidebar content such as filters for Brand, Condition, etc. -->
       <div class="widget">
        <h5 class="widget-title">BRAND</h5>
        <ul>
        @for (item of BrandsQuantity; track $index) {
          <li>
            <a class="widli" (click)="filiterItems(item[0])">
              <span class="widliType">{{item[0]}}</span>
              <span class="count">{{item[1]}}</span>
            </a>
          </li>
        }
        </ul>
       </div>

      <h2>CONDITION</h2>
      <ul>
          <li>Used: Grade A</li>
          <li>Used: Grade B</li>
      </ul>
      <!-- Add more filter options as needed -->
  </aside>

  <main class="main-content">
      <!-- Breadcrumb Navigation -->
      <nav class="breadcrumb">
          <a href="#">Home</a> / <a href="#">Laptops</a> / <a href="#">Business Laptops</a>
      </nav>

      <!-- Product Listings -->
      <section class="container mx-auto p-10 md:py-12 px-0 md:p-8 md:px-0">
        <section
            class="p-5 md:p-0 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-10 items-start " >
            @for(product of this.filteredProducts; track product.id){
                <app-product [product]="product" />
            }
        </section>
    </section>
  </main>
</div>
