.product-page {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 20px;
  align-items: flex-start;
}

.image-section {
  display: flex;
  flex-direction: column;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.thumbnail-images img {
  width: 100px;
  height: auto;
  cursor: pointer;
}
.main-image{
  position: relative;
  display: inline-block;
}

.main-image img {
  width: 100%;
  height: auto;
  display: block;
}
.special-offer-label {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FF6F43;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.special-offer-label::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #FF6F43;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-labels {
  display: flex;
  gap: 10px;
}

.condition-label {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 4px;
}

.special-offer {
  background-color: #ff6b6b;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.product-title {
  font-size: 20px;
  line-height: 1.2;
}

.price {
  display: flex;
  gap: 15px;
  align-items: center;
}

.oldPrice{
  text-decoration-line: line-through;
    text-decoration-color: red;
    text-decoration-style: solid;
    color: #BBBBBB;
    font-size: 20px;
}
.amount{
  color: #2573a3;
  font-size: 30px;
  font-weight: bold;
}

.new-price {
  color: #d9534f;
  font-size: 24px;
}

.stock-status, .discount-message {
  color: #888;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-to-cart {
  background-color: #3398c7;
  width: 25%;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.wishlist-compare {
  display: flex;
}

.compare, .wishlist {
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
  font-weight: 500;
    font-size: 16px;
}

.specs {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  margin: auto;
  width: 65%;
}

.specs-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.specs-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}

.specs-list li:last-child {
  border-bottom: none;
}

.specs-list span {
  display: inline-block;
  font-size: 16px;
  color: #333;
}

.specs-list span:first-child {
  color: #000;
}

/* In your global styles or component-specific styles */
.custom-snackbar {
  background-color: #2196f3; /* Customize the background color */
  color: #fff; /* Customize the text color */
}

